*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

h1{
    font-size: 48px;
    font-weight: 100;
}

.contents1{
    font-size: 20px;
    font-weight: lighter;
}

.result{
    font-size: 24px;
}

.moreButton{
    background-color: #2F7AF4;
    color: #fff;
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
}

.contents2{
    font-size: 18px;
}


.intro_bg{
    background-image:url("img/flash-4244923_1920-1.png");
    width: 100%;
    height: 718px;
}

.header{
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
}
.searchArea{
    width: 300px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 24px;
}

.searchArea > form > input{
    border: none;
    width: 250px;
    height: 40px;
    background: rgba(0,0,0,0.0);
    color: #fff;
    padding-left: 10px;
}

.searchArea > form > span{
    width: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1280px - 300px);
    
}

.nav > li{
    margin-left: 84px;
}

.nav > li > a{
    color: #fff;
}

.intro_text{
    width: 100%;
    margin: 231px auto 231px auto;
    text-align: center;   
}

.intro_text > h1,
.intro_text > h4{
    color: #fff;
    /* 글자색 상속 안 됨 */
}

.amount{
    position: relative;
    top:-66px;
    display: flex;
    width: 1280px;
    background: #fff;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.amount > li{
    flex: 1;
    height: 132px;
}

.amount > li > div{
    text-align: center;   
    margin-top: 37px;
    height: 57px;
}

.amount > li:not(:last-child) > div{
    border-right :1px solid #e1e1e1;
}


.about{
    background: #F1F2F3;
    width: 100%;
    height: 601px;
    margin-top: -132px;
}

.about > h1{
    padding-top: 116px;
    text-align: center;
}

.about > p{
    text-align: center;
}

.sec{
  width:1280px;
  display: flex;
  margin: 49px auto;
  height:302px;
}

.sec img{
    display: block;
    margin: 36px auto 10px auto;
}
.sec dl{
    text-align: center;
}

.sec dl dt{
    font-weight: bold;
}
.sec dl dd{
   padding: 0 2% 0 2%;
   font-size: 12px;
}
.home, .people{
    width: 433px;
    background-color: #fff;
    margin-right: 20px;
}

.cart{
    width: 433px;
    background-color: #fff;
}

.sec .moreButton{
    margin: 10px auto;
}
/* sec Fin */



.service{
    width: 100%;
    height: 659px;
}

.service > h1{
    padding-top: 50px;
    text-align: center;
}

.service > p{
    text-align: center;
}

.service > .serWrap{
    width: 1280px;
    height: 427px;
    display: flex;
    margin: 49px auto;
    
}

.service > .serWrap >.rightSec{
    padding: 20px;
}
.service > .serWrap >.rightSec > h2{
    margin-bottom: 27px;
}



/* service Fin */



.contact{
    width: 100%;
    height: 418px;
    background-image: url("/img/flash-4244923_1920.png");
}

.contact > ul{
    display: flex;
    padding-top: 138px;
}

.contact > ul > li{
    flex: 1;
    text-align: center;
}

.contact > ul > li > div >h1,
.contact > ul > li > div{
    color: #fff;
}

.more2{
    width: 220px;
    height: 40px;
    line-height: 40px;
    margin: 16px auto;
    border: 1px solid #fff;
    cursor: pointer;
}

.footer{
    width: 100%;
    height: 200px;
    margin: auto;
    background-color: #1F1F1F;
    
}

.footer > .wrap{
    width: 1200px;
    margin: auto;
    padding: 2%;
}
.footer >.wrap> .logo{
    float: left;
    color: white;
    font-size: 50px;
    
}

.footer >.wrap> .info{
    float: right;   
    margin-right: 150px;
}

.footer >.wrap>  .info > .contents1{
    color: white;
}


